<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="com.uwetrottmann.seriesguide.extensionexample.app.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.uwetrottmann.seriesguide.extensionexample.app.ExampleExtensionReceiver"
            android:description="@string/app_name"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </receiver>

        <!-- Optional: service component for backwards compatibility with API v1 -->
        <!-- As the extension targets SDK 26+, disable it on O+ to avoid crash due to background restrictions. -->
        <service
            android:name="com.uwetrottmann.seriesguide.extensionexample.app.ExampleExtension"
            android:description="@string/app_name"
            android:enabled="@bool/isNotOreoOrHigher"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </service>

        <service
            android:name="com.uwetrottmann.seriesguide.extensionexample.app.ExampleExtensionService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

    <!-- When targeting SDK 30 (R), make the SeriesGuide apps (Google Play, Amazon Appstore) visible to this extension. -->
    <!-- https://developer.android.com/preview/privacy/package-visibility -->
    <queries>
        <package android:name="com.battlelancer.seriesguide" />
        <package android:name="com.uwetrottmann.seriesguide.amzn" />
    </queries>

</manifest>
