<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwetrottmann.seriesguide.extensionexample.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <service
            android:name=".ExampleExtension"
            android:label="@string/app_name"
            android:description="@string/app_name">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </service>

    </application>

</manifest>
